<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link mr-3" href="{% url 'core:create_problem' %}">ایجاد سوال</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mr-3" href="{% url 'core:score_table' %}">جدول امتیازات</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link mr-3" href="#">داشبورد</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mr-3" href="{% url 'core:all_classes' %}">کلاس ها</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mr-3" href="{% url 'core:all_contests' %}">مسابقات</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mr-3" href="{% url 'core:all_problems' %}">سوالات</a>
    </li>
    <li>
        <a class="navbar-brand" href="{% url 'landing_page' %}">هیربد</a>
    </li>
</ul>
</body>
</html>